.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 300px;
    padding: 50px 40px;
    box-sizing: border-box;
    background: #658DBD;
    opacity: 0.87;
    border-radius: 5px;
}

.login:after{
    background-color: white;
    content: '';
    display: block;
    position: absolute;
    top: 23px;
    left: 0px;
    right: 0px;
    bottom: 7px;
    z-index: -1;
}

h1{
    font-size: 24px;
    margin: 0;
    padding: 0 0 20px;
    color: black;
    text-align: center;
}
/*
.cedula-emailEstilos{
    height: 100%!important;
    width: 100%!important;
    margin-bottom: 5px;  
    font-size: 20px;
    padding-left: 5%;
    border-radius: 5px;
    left: 10px!important;   
}*/

.cedula-contraseñaEstilos{
    height: 15%!important;
    width: 95%!important;
    margin-bottom: 5px;  
    font-size: 20px;
    padding-left: 5%;
    border-radius: 5px;
}

.iniciarSesionBoton{
    width: 85%;
    border:none;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 18px;
    background: #0284A8;
    cursor: pointer;
    border-radius: 0px;
}

.Cancelar{    
    width: 100%!important;
    border:none;
    outline: none;
    height: 40px;
    color: #fff !important;
    font-size: 0.8em!important;
    background: #D75129!important;
    cursor: pointer;
    border-radius: 2px;   
    top:20px; 
}
.Continuar{
    width: 100% !important;
    border:none;
    outline: none;
    height: 40px;
    color: #fff !important;
    font-size: 0.8em!important;
    background: #4E885B!important;
    cursor: pointer;
    border-radius: 2px;
    top:20px;
}

.letraOlvidasteContraseña{
    color:white;
}

.boton:hover{
    background: #02547D;
}

